# Team 5 - Global Terrorism

![](https://www.start.umd.edu/gtd/images/START_GlobalTerrorismDatabase_TerroristAttacksConcentrationIntensityMap_45Years.png)

_For more information about the dataset, read [here](https://www.kaggle.com/START-UMD/gtd)._

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

![](https://i.imgur.com/0AUxkXt.png)

# Assignment 3 - From data to insights
## Vương Tuấn Khanh
## 17110313

## Dataset - Online Retailes Purchase


### Step 1 - Checking the data

**Import tools set**

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Import Data**

#### Import dataset from local computer

In [2]:
# Use "files" library from Google Colab 
from google.colab import files
# Upload CSV file
uploaded = files.upload()

Saving globalterrorismdb_0718dist.csv to globalterrorismdb_0718dist.csv

In [3]:
# Let's see what this file looks like
print (uploaded['globalterrorismdb_0718dist.csv'][:200].decode('ISO-8859-1') + '...')

eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alter...

In [5]:
import io
# Create a dataframe from dict "Uploaded"
df = pd.read_csv(io.StringIO(uploaded['globalterrorismdb_0718dist.csv'].decode('ISO-8859-1')))
# Let see the first 5 rows
df.head(5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [6]:
# Ok, now let check the dataframe informations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

### Step 2 - Cleaning the data

**Check for NaN values**

In [7]:
# List all the NaN values
# First, we create a Dataframe that hold the number of Nan values
NaN_list = pd.isna(df).sum()
# Then we list all the columns that have at least 1 NaN value
NaN_List = NaN_list[NaN_list.values > 0]
NaN_List

approxdate            172452
resolution            179471
provstate                421
city                     434
latitude                4556
longitude               4557
specificity                6
location              126196
summary                66129
doubtterr                  1
alternative           152680
alternative_txt       152680
multiple                   1
attacktype2           175377
attacktype2_txt       175377
attacktype3           181263
attacktype3_txt       181263
targsubtype1           10373
targsubtype1_txt       10373
corp1                  42550
target1                  636
natlty1                 1559
natlty1_txt             1559
targtype2             170547
targtype2_txt         170547
targsubtype2          171006
targsubtype2_txt      171006
corp2                 171574
target2               170671
natlty2               170863
                       ...
nkillus                64446
nkillter               66958
nwound                 16311
nwoundus               64702
nwoundte               69143
propextent            117626
propextent_txt        117626
propvalue             142702
propcomment           123732
ishostkid                178
nhostkid              168119
nhostkidus            168174
nhours                177628
ndays                 173567
divert                181367
kidhijcountry         178386
ransom                104310
ransomamt             180341
ransomamtus           181128
ransompaid            180917
ransompaidus          181139
ransomnote            181177
hostkidoutcome        170700
hostkidoutcome_txt    170700
nreleased             171291
addnotes              153402
scite1                 66191
scite2                104758
scite3                138175
related               156653
Length: 106, dtype: int64

**Examine few examples of NaN values**

In [8]:
# Let take 5 example of 'propextent' columns with NaN value
df[df['propextent'].isna()].sample(5)

             eventid  ...                                            related
1532    197209210008  ...  197209190001, 197209190002, 197209190003, 1972...
149668  201506220029  ...                                                NaN
171479  201701260001  ...                                                NaN
157602  201601110087  ...                                                NaN
35012   198807070002  ...                                                NaN

[5 rows x 135 columns]

In [9]:
# The length of our Dataframe is
len(df.index)
# We can use the .shape property or just len(DataFrame.index). However, there are notable performance differences ( len(DataFrame.index) is the fastest)

181691

- Ok, We have seen that there are many columns containing NaN values

- Since our data volume is quite large (181691 rows ), having columns with such a small amount of data will not be practical and useless because they do not reflect the trend of our DataFrame.

- So we will now drop all the columns that have NaN values that accounts for more than 60% of the total

In [10]:
# First, calculate the 60% value of 181691
Percentage = round(181691*60/100)
Percentage

109015

In [11]:
# Second, we need to create a list of columns with NaN values more than 60% of the total.
NaN_Columns = NaN_List[NaN_List.values > Percentage]
NaN_Columns = NaN_Columns.index
NaN_Columns

Index(['approxdate', 'resolution', 'location', 'alternative',
       'alternative_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3',
       'attacktype3_txt', 'targtype2', 'targtype2_txt', 'targsubtype2',
       'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt',
       'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt',
       'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gsubname', 'gname2',
       'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain2',
       'guncertain3', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2',
       'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim',
       'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt',
       'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt',
       'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt',
       'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'nhostkid',
       'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransomamt',
       'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote',
       'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes',
       'scite3', 'related'],
      dtype='object')

- **We need to pay close attention to the listed values carefully as some fields may be important and affect the trend of the data.**
- **In this case, the columns in this list have unnecessary values for the study so we can ignore**

In [0]:
# Finally, we drop all the columns in the NaN_Column list
df = df.drop(columns = NaN_Columns)

In [13]:
# Take 5 example
df.sample(5)
# As we can see, columns with many NaN values have been deleted

             eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
132209  201405210104   2014       5    21  ...       -9        -9        0       -9
27180   198601230005   1986       1    23  ...        0         0        0        0
53178   199209260014   1992       9    26  ...       -9        -9        0       -9
15764   198203210008   1982       3    21  ...       -9        -9        0       -9
167263  201609210072   2016       9    21  ...        0         1        0        1

[5 rows x 60 columns]

**Dataframe titles**

- So now we will proceed to clean up more Dataframe
- We want the output to be visual, so I'll now delete the columns with the title equivalent of the title of another column + '_ txt'
- For example, 'country' will give the code, while 'country_txt' will give the Country's name, we'll just take the name

In [14]:
# List all the duplicate columns
Duplicated_Columns = df.columns
Duplicated_Columns = Duplicated_Columns[Duplicated_Columns.str.contains('_txt')]
Duplicated_Columns

Index(['country_txt', 'region_txt', 'attacktype1_txt', 'targtype1_txt',
       'targsubtype1_txt', 'natlty1_txt', 'weaptype1_txt', 'weapsubtype1_txt'],
      dtype='object')

In [15]:
# Delete the '_txt' part
temp = []
for i in Duplicated_Columns:
  temp.insert(len(temp),i[:-4])
Duplicated_Columns = temp
Duplicated_Columns

['country',
 'region',
 'attacktype1',
 'targtype1',
 'targsubtype1',
 'natlty1',
 'weaptype1',
 'weapsubtype1']

In [0]:
# Finally, we drop all the columns in the Duplicated_Columns list
df = df.drop(columns = Duplicated_Columns)

In [19]:
# Take 5 example
df.sample(5)
# As we can see, columns with many NaN values have been deleted

             eventid  iyear  imonth  iday  ...  INT_LOG INT_IDEO INT_MISC INT_ANY
74031   200205010003   2002       5     1  ...        0        0        0       0
147946  201505110014   2015       5    11  ...        1        1        0       1
160375  201603220091   2016       3    22  ...       -9       -9        0      -9
54025   199211140012   1992      11    14  ...        0        0        1       1
88629   200808260008   2008       8    26  ...       -9       -9        1       1

[5 rows x 52 columns]

In [21]:
# Delete some unnecessary columns left
df = df.drop(['INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY'], axis = 1)
df.head(5)

        eventid  iyear  imonth  iday  ...  ransom scite1 scite2 dbsource
0  197000000001   1970       7     2  ...     0.0    NaN    NaN     PGIS
1  197000000002   1970       0     0  ...     1.0    NaN    NaN     PGIS
2  197001000001   1970       1     0  ...     0.0    NaN    NaN     PGIS
3  197001000002   1970       1     0  ...     0.0    NaN    NaN     PGIS
4  197001000003   1970       1     0  ...     0.0    NaN    NaN     PGIS

[5 rows x 48 columns]

**Recheck our Data**

In [28]:
# List all the NaN values
# A Dataframe that hold the number of Nan values
NaN_list = pd.isna(df).sum()
# Then we list all the columns that have at least 1 NaN value
NaN_List = NaN_list[NaN_list.values > 0]
NaN_List

provstate              421
city                   434
latitude              4556
longitude             4557
specificity              6
summary              66129
doubtterr                1
multiple                 1
targsubtype1_txt     10373
corp1                42550
target1                636
natlty1_txt           1559
guncertain1            380
nperps               71115
nperpcap             69489
claimed              66120
weapsubtype1_txt     20768
weapdetail           67670
nkill                10313
nkillus              64446
nkillter             66958
nwound               16311
nwoundus             64702
nwoundte             69143
ishostkid              178
ransom              104310
scite1               66191
scite2              104758
dtype: int64